# Bibliotecas

In [1]:
import yfinance as yf
import pygwalker as pyg
import wbgapi as wb
import pandas as pd
import numpy as np

# Dados

In [2]:
df = yf.download('PETR4.SA', start='2010-01-01')

[*********************100%%**********************]  1 of 1 completed

In [3]:
#Retorno em %
df['Retorno'] = df['Adj Close'].pct_change()

#Volatilidade dentro de uma janela de 10 dias
df["Vol_10_dias"] = df['Retorno'].rolling(10).std() #.std é o desvio padrão que está sendo usado como medida de risco

#Media móvel dentro de 2o dias
df['MediaMovel_20_dias'] = df['Adj Close'].rolling(20).mean()

#Ano e mês
df['Ano'] = df.index.year
df['Mês'] = df.index.month
df['Date'] = df.index
df

,Open,High,Low,Close,Adj Close,Volume,Retorno,Vol_10_dias,MediaMovel_20_dias,Ano,Mês,Date
Date,,,,,,,,,,,,
2010-01-04,36.950001,37.320000,36.820000,37.320000,10.351406,13303600,NaN,NaN,NaN,2010,1,2010-01-04
2010-01-05,37.380001,37.430000,36.799999,37.000000,10.262649,21396400,-0.008574,NaN,NaN,2010,1,2010-01-05
2010-01-06,36.799999,37.500000,36.799999,37.500000,10.401332,18720600,0.013513,NaN,NaN,2010,1,2010-01-06
2010-01-07,37.270000,37.450001,37.070000,37.150002,10.304256,10964600,-0.009333,NaN,NaN,2010,1,2010-01-07
2010-01-08,37.160000,37.389999,36.860001,36.950001,10.248781,14624200,-0.005384,NaN,NaN,2010,1,2010-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-25,37.049999,37.119999,36.759998,37.029999,37.029999,18572600,-0.000810,0.016395,36.455516,2024,6,2024-06-25
2024-06-26,36.799999,37.119999,36.709999,37.090000,37.090000,25553200,0.001620,0.014281,36.472372,2024,6,2024-06-26
2024-06-27,37.509998,37.959999,37.320000,37.709999,37.709999,37731000,0.016716,0.013947,36.522659,2024,6,2024-06-27
2024-06-28,37.799999,38.169998,37.709999,38.049999,38.049999,22019700,0.009016,0.009796,36.539386,2024,6,2024-06-28
2024-07-01,38.310001,38.700001,38.180000,38.650002,38.650002,16250400,0.015769,0.009769,36.596322,2024,7,2024-07-01

# PYGWALKER - Dashboard

In [4]:
walker = pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-00061c3389eb2398wdVYgjfeqQ953irb" style="height: auto">\n    <head>…

WBGAPI

In [5]:
paises = ['ARG', 'BRA', 'CHL', 'COL', 'PER', 'URY', 'MEX']

desemprego = wb.data.DataFrame('SL.UEM.TOTL.ZS', economy=paises, time=range(2010,2022))
desemprego = desemprego.melt(var_name='Ano',value_name='Desemprego')
desemprego['País'] = np.resize(paises, len(desemprego))
desemprego['Ano'] = pd.to_numeric(desemprego['Ano'].str.slice(2)) #.str.slice(2) tira os dois primeiros elementos da string
desemprego['Desemprego'] = pd.to_numeric(desemprego['Desemprego'])

pyg.walk(desemprego)
desemprego

Box(children=(HTML(value='<div id="ifr-pyg-00061c338a54e163YcaKUB6JeyTNzA1k" style="height: auto">\n    <head>…

     Ano  Desemprego País
0   2010       7.714  ARG
1   2010       8.424  BRA
2   2010       8.547  CHL
3   2010      11.153  COL
4   2010       5.303  PER
..   ...         ...  ...
79  2021       9.325  CHL
80  2021      13.898  COL
81  2021       4.019  PER
82  2021       5.097  URY
83  2021       9.301  MEX

[84 rows x 3 columns]